
.box{
    display: flex; 
    flex-direction: column; 
    gap: 3rem; 
    align-items: center; 
    margin: 10rem 0 15rem;
    
}
.title{
    font-size: 1.2rem; 
    font-family: var(--f-Raleway); 
    font-weight: 700; 
    margin-bottom: 1rem; 
}

.paragraph{
    margin-bottom: 1rem; 
    font-size: .9rem; 
}

.link{
    color: var(--c-cyan); 
    font-size: .9rem; 
    position: relative; 
    cursor: pointer; 
}

.link span{
    display: inline-block; 
    translate: 5px 3px; 
}

.link::before{
    content: ""; 
    position: absolute; 
    width: 155px; 
    height: 1px; 
    background-color: var(--c-cyan);
    bottom: -5px; 
}

.link:hover{
    color: var(--c-white); 
}

.link:hover::before{
    background-color: var(--c-white);
}

@media (min-width: 750px) {
   .box{
    flex-direction: row; 
   } 
   .title{
    font-size: 1.8rem; 
    max-width: 20rem; 
   }
   .paragraph{
    max-width: 35rem; 
   }
}