.bar{
    display: flex;
    gap: 1rem; 
    justify-content: center;
    margin-top: 5rem; 
}

.bar svg{
    border: solid 1px #fff; 
    padding: .5rem; 
    border-radius: 50%; 
    width: 12px;
    height: 12px; 
    cursor: pointer; 
}

.bar svg:hover{
    color: var(--c-cyan);
    border: solid 1px var(--c-cyan); 
}

@media (min-width: 750px) {
    .bar{
        margin: 0; 
    }
}